.Category {
    display: flex;
    width: 100%;

    .categoryContainer {
        flex: 6;

        .main{
            padding: 25px;
            background-color: white;
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(167, 158, 158, 0.47);
            // border-radius: 1rem;
            

        }
    }
}