.InventoryReport{
    display: flex;
    width: 100%;
    .InventoryReportContainer{
        flex: 6;
       

        .Inventory-report-main{
            // background-color: rgb(255, 248, 248);
           background-color: #F8F8F8;
           height: 120px;
            width: 100%;
            padding: 20px;
            margin-bottom: -1px;

            
        }
        .InventoryReport-main{
            border: 0.001px solid #e2dfdf;
            margin: 10px;
            display: flex;
            .inventory-report-Left{
                flex: 3;
                border: 0.001px solid #e2dfdf;
                    
                    padding: 25px;
                    margin: 10px;

            }
            .inventory-report-Right{
                flex: 7;
                border: 0.001px solid #e2dfdf;
                    
                    padding: 25px;
                    margin: 10px;

            }
            // .InventoryReport-left-{
            //     flex: 2;
            //     margin: 10px;
            //     // border: 0.001px solid #e2dfdf;
            //     height: max-content;
            //     // padding: 20px;
            //     .content-barChart{
            //         border: 0.001px solid #e2dfdf;
                    
            //         padding: 25px;
            //         margin: 1px;
            //         // :nth-child(1){
            //         //     background-color: #e2dfdf;
            //         // }
            //         .head-barChart{
            //             font-size: 30px;
            //             margin-bottom: 5px;
                        
            //         }
            //         .con-barChart{
            //             margin-top: 15px;
            //             font-weight: 400;
            //             font-size: 13.5px;
            //             color: #a5a0a0;
            //         }
            //     }
              
            // }
            // .Inventory-report-chart{
            //     margin: 10px;
            //     flex: 6;
            //     border: 0.001px solid #e2dfdf;
            //     padding: 20px;
            // }
        
        }
    }
}