.table{
    padding: 20px;

    .cellWrapper{
        display: flex;
        align-items: center;

        .image{
            width: 32px;
            height: 32px;
            border-radius: 50%;
            margin-right: 10px;
            object-fit: cover;
        }
    }

    .status{
        padding: 10px;
        border-radius: 5px;

        &.Completed {
            color: green;
            background-color: rgba(0, 128, 0, 0.151);
          }
          &.Processing {
            color: goldenrod;
            background-color: rgba(189, 189, 3, 0.103);
          }
    }

   

}